TYPHOON_API_KEY=<can be obtained from https://opentyphoon.ai. need an account to get api key.>
TYPHOON_ENDPOINT=<probably https://api.opentyphoon.ai/v1, but please check the base URL on https://opentyphoon.ai.>
